@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-Inter: 'Inter', sans-serif;
    --font-Poppins: 'Poppins', sans-serif;
    --font-hanuman: 'Hanuman', serif;
    --font-kantumruy-pro: 'Kantumruy Pro', sans-serif;
    --font-moul: 'Moul', serif;
    --font-bokor: 'Bokor', cursive;
    --font-lato: 'Lato', sans-serif;

    --color-primary: #1168B2;
    --color-secondary: #003868;
    --color-bg:#EDEDED;
    --color-success: #00CD1F;
    --color-success-dark: #003F09;
    --color-ab: #F3F2EE;
    --color-info: #002FD9;
}



.base {
 @apply bg-gray-100 text-gray-900; 
}